<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TBM</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>










<body class="" id="body">

    <%- include('ejs/navbar') -%>

    <section id="intro">
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Rejoignez 1 millions de personnes...</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, placeat, perferendis! Inventore fuga ea obcaecati eum doloribus minima harum soluta alias debitis autem rem odit itaque, officia laboriosam reiciendis neque!</p>
                <a class="btn btn-primary btn-raised" href="/signup">S'inscrire aujourd'hui</a>
            </div>

        </div>
    </section>
    <!-- intro: show it if not connected -->


    <section id="main-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 asider visible-lg-block">
                    <div>
                        <h4> <i class="material-icons">people</i> <strong>Groupes</strong></h4>
                        <ul>
                            <li><a href="">Groupe1</a></li>
                            <li><a href="">Groupe2</a></li>
                            <li><a href="">Groupe3</a></li>
                            <li><a href="">Afficher plus...</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4> <i class="material-icons">store_mall_directory</i><strong>Shops</strong></h4>
                        <ul>
                            <li><a href="">Shop1</a></li>
                            <li><a href="">Shop2</a></li>
                            <li><a href="">Shop3</a></li>
                            <li><a href="">Afficher plus...</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4> <i class="material-icons">local_activity</i> <strong>Evènements</strong></h4>
                        <ul>
                            <li><a href="">Evenement 1</a></li>
                            <li><a href="">Evenement 2</a></li>
                            <li><a href="">Evenement 3</a></li>
                            <li><a href="">Afficher plus...</a></li>
                        </ul>
                    </div>
                </div>
                <!-- col asider-->
                <div class="col-lg-10 col-md-12 products-container">
                    <section id="showcase">
                        <div class="container-fluid category" id="recommended">
                            <h3>...</h3>

                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                                    <div class="product-container shadow">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <img src="images/iphone_PNG5728.png" class="img-responsive" alt="">
                                            </div>
                                            <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                                                <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                                                <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                                                <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                                            </div>
                                        </div>
                                        <!-- row -->
                                        <div class="row product-description">
                                            <div class="col-lg-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam mollitia, voluptatum natus accusamus...</p>
                                            </div>
                                        </div>
                                        <!-- product description -->
                                        <div class="row product-rating">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <i class="material-icons">star_rate</i>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <i class="material-icons">star_rate</i>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <i class="material-icons">star_rate</i>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <i class="material-icons">star_rate</i>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <i class="material-icons">star_rate</i>
                                            </div>

                                        </div>
                                        <!-- product rating -->
                                        <div class="row price-call-to-action">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <p class="price">1000 <em>DA</em></p>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 call-to-action ">
                                                <a href="#" class="btn btn-primary detail-btn btn-raised pull-right">Détails</a>
                                            </div>
                                        </div>
                                        <!-- price and call to action -->
                                    </div>
                                    <!-- product -->
                                </div>
                                <!-- product wrapper -->


                            </div>
                            <!-- recommended -->
                        </div>
                            <div class="container-fluid category">
                                <div class="row category-header">
                                    <div class="col-xs-6">
                                        <h3>....</h3>
                                    </div>
                                    <div class="col-xs-4 col-xs-offset-2 text-right load-more">
                                        <a href="#" class="">Afficher plus..</a>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                                        <div class='post shadow'>
                                            <div class='panel-effect '>
                                                <div class='fake-effect fe-0'></div>
                                                <div class='fake-effect fe-1'></div>
                                                <div class='fake-effect fe-2'></div>
                                                <div class='fake-effect fe-3'></div>
                                                <div class='fake-effect fe-4'></div>
                                                <div class='fake-effect fe-5'></div>
                                                <div class='fake-effect fe-6'></div>
                                                <div class='fake-effect fe-7'></div>
                                                <div class='fake-effect fe-8'></div>
                                                <div class='fake-effect fe-9'></div>
                                                <div class='fake-effect fe-10'></div>
                                                <div class='fake-effect fe-11'></div>
                                            </div>
                                        </div>
                                        <!-- product wrapper -->
                                    </div>
                                    <!-- row -->
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                                        <div class='post shadow'>
                                            <div class='panel-effect '>
                                                <div class='fake-effect fe-0'></div>
                                                <div class='fake-effect fe-1'></div>
                                                <div class='fake-effect fe-2'></div>
                                                <div class='fake-effect fe-3'></div>
                                                <div class='fake-effect fe-4'></div>
                                                <div class='fake-effect fe-5'></div>
                                                <div class='fake-effect fe-6'></div>
                                                <div class='fake-effect fe-7'></div>
                                                <div class='fake-effect fe-8'></div>
                                                <div class='fake-effect fe-9'></div>
                                                <div class='fake-effect fe-10'></div>
                                                <div class='fake-effect fe-11'></div>
                                            </div>
                                        </div>
                                        <!-- product wrapper -->
                                    </div>
                                    <!-- row -->
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                                        <div class='post shadow'>
                                            <div class='panel-effect '>
                                                <div class='fake-effect fe-0'></div>
                                                <div class='fake-effect fe-1'></div>
                                                <div class='fake-effect fe-2'></div>
                                                <div class='fake-effect fe-3'></div>
                                                <div class='fake-effect fe-4'></div>
                                                <div class='fake-effect fe-5'></div>
                                                <div class='fake-effect fe-6'></div>
                                                <div class='fake-effect fe-7'></div>
                                                <div class='fake-effect fe-8'></div>
                                                <div class='fake-effect fe-9'></div>
                                                <div class='fake-effect fe-10'></div>
                                                <div class='fake-effect fe-11'></div>
                                            </div>
                                        </div>
                                        <!-- product wrapper -->
                                    </div>
                                    <!-- row -->
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                                        <div class='post shadow'>
                                            <div class='panel-effect '>
                                                <div class='fake-effect fe-0'></div>
                                                <div class='fake-effect fe-1'></div>
                                                <div class='fake-effect fe-2'></div>
                                                <div class='fake-effect fe-3'></div>
                                                <div class='fake-effect fe-4'></div>
                                                <div class='fake-effect fe-5'></div>
                                                <div class='fake-effect fe-6'></div>
                                                <div class='fake-effect fe-7'></div>
                                                <div class='fake-effect fe-8'></div>
                                                <div class='fake-effect fe-9'></div>
                                                <div class='fake-effect fe-10'></div>
                                                <div class='fake-effect fe-11'></div>
                                            </div>
                                        </div>
                                        <!-- product wrapper -->
                                    </div>
                                    <!-- row -->
                                    <!--
                                    <div class="row slide-row">
                                        <div class="col-xs-1 slide-control left">
                                            <i class="material-icons">chevron_left</i>
                                        </div>
                                        <div class="col-xs-1 col-xs-offset-10 slide-control right">
                                            <i class="material-icons">chevron_right</i>
                                        </div>
                                    </div>
-->
                                </div>
                        </div>
                    </section>
                    <!-- showcase -->
                    </div>
                    <!-- col -->
                    </div>
                    <!-- // row -->
                </div>
                <!--//container-fluid -->
    </section>

    <div id="chat-container">

    </div>
    <div id="discution">

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../public/javascripts/material.min.js"></script>
    <script src="../public/javascripts/ripples.min.js"></script>
    <script>
        $.material.init();

    </script>

    <script src="../public/javascripts/index.js"></script>
</body>

</html>
