<!-- navbar -->
<header>
    <div class="navbar tbm-navbar navbar-fixed-top shadow-1">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TBM</a>
            </div>
            <div class="navbar-collapse collapse main-nav">
                <ul class="nav navbar-nav">


                    <li class="dropdown categories-dropdown">
                        <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Catégories
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="material-icons">smartphone</i> Téléphone mobile</a></li>
                            <li><a href=""><i class="material-icons">tablet_android</i> Tablette</a></li>
                            <li><a href=""><i class="material-icons">computer</i> Ordinateur</a></li>
                            <li><a href=""><i class="material-icons">tv</i> TV</a></li>
                            <li><a href=""><i class="material-icons">photo_camera</i> Photo et Caméra</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left tbm-navbar-form">
                    <div class="form-group">

                        <input type="text" class="form-control col-sm-8" placeholder="Chercher un produit...">
                        <button type="submit" class="btn btn-default"><i class="material-icons">search</i> </button>
                    </div>

                </form>
                <ul class="nav navbar-nav navbar-right navbar-second-nav">

                    <% if(!session._userID){ %>
                    <li><a href="/signup" class="btn sign-up">S'inscrire</a></li>
                    <li><a href="/signin" class="btn log-in">Se connecter</a></li>
                    <% } else {%>
                    <div class="mobile-profile">
                        <li><a href=""><i class="material-icons">person</i> Profile</a></li>
                        <li class="divider"></li>
                        <li><a href=""><i class="material-icons">group_add</i>Créer un group</a></li>
                        <li><a href="/openShop"><i class="material-icons">store</i>Ouvrir un shop</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)"><i class="material-icons">settings</i>Paramètres</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)"><i class="material-icons">exit_to_app</i>Se deconnecter</a></li>
                    </div>
                    <!-- mobile profile -->
                    <li class="logged-in-nav">
                    <li><a href="/openShop" class="btn open-shop">Ouvrir un shop</a></li>

                    <li class="dropdown profile-dropdown">
                        <div data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../public/images/johndoe.jpg" alt="">
                            <b class="caret"></b>
                        </div>

                        <ul class="dropdown-menu">
                            <li><a href=""><i class="material-icons">person</i> Profile</a></li>
                            <li class="divider"></li>
                            <li><a href=""><i class="material-icons">group_add</i>Créer un group</a></li>
                            <li><a href="javascript:void(0)"><i class="material-icons">store</i>Ouvrir un shop</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)"><i class="material-icons">settings</i>Paramètres</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)"><i class="material-icons">exit_to_app</i>Se deconnecter</a></li>
                        </ul>
                        <!-- dropdown menu -->
                    </li>
                    <%}%>
                    <!-- logged in nav -->

                </ul>
            </div>
        </div>
        <div class="row second">
            <div class="col-xs-12 secondary-nav tbm-nav pmd-z-depth text-center">
                <nav class=" ">
                    <ul>
                        <li><a href=""><i class="material-icons">smartphone</i> Téléphone mobile</a></li>
                        <li><a href=""><i class="material-icons">tablet_android</i> Tablette</a></li>
                        <li><a href=""><i class="material-icons">computer</i> Ordinateur</a></li>
                        <li><a href=""><i class="material-icons">tv</i> TV</a></li>
                        <li><a href=""><i class="material-icons">photo_camera</i> Photo et Caméra</a></li>
                    </ul>
                </nav>
            </div>
        </div><!-- category nav -->
    </div>
</header>
<!-- navbar -->


<!-- // navbar -->