<!--    navbar -->
<nav class="navbar navbar-default pmd-navbar  pmd-z-depth pmd-z-depth-1 navbar-fixed-top tbm-navbar">

    <div class="container-fluid">
        <div class="row main">
            <div class="col-xs-12 primary-nav tbm-nav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- Navbar Right icon -->
                    <button type="button" class="navbar-toggle collapsed pmd-ripple-effect" data-toggle="collapse" data-target="#connect-with-us" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="pmd-navbar-right-icon pull-left">
                        <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle tbm-sidebar-toggle"><i class="material-icons">select_all</i></a>
                    </div>
                    <a class="navbar-brand pmd-ripple-effectlogo " href="#">TBM</a>
                </div>
                <div class="join-us pull-right collapse navbar-collapse" id="connect-with-us">
                    <div class="sign-in-up">

                        <button id="search-icon" href="javascript:void(0);" class="btn search btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-right"><i class="material-icons">search</i>


                        </button>
                        <div class="search-box" id="search-box">
                            <form class="search-form">
                                <div class="form-group pmd-textfield">

                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Chercher un produit, shop ou n'importe quoi...">
                                </div>


                            </form>
                        </div>


                                            <a class="btn btn-default connect pmd-ripple-effect pmd-btn-flat">Se connecter</a>
                                            <a class="btn btn-primary connect pmd-ripple-effect pmd-btn-raised">S'inscrire</a>





                    </div><!-- sign in/up -->


                    <nav class="category visible-xs-block">
                        <ul>
                            <li class="visible-xs-block"><a href=""><i class="material-icons">smartphone</i> Téléphone mobile</a></li>
                            <li class="visible-xs-block"><a href=""><i class="material-icons">tablet_android</i> Tablette</a></li>
                            <li class="visible-xs-block"><a href=""><i class="material-icons">computer</i> Ordinateur</a></li>
                            <li class="visible-xs-block"><a href=""><i class="material-icons">tv</i> TV</a></li>
                            <li class="visible-xs-block"><a href=""><i class="material-icons">photo_camera</i> Photo et Caméra</a></li>
                        </ul>
                    </nav>


                </div><!-- sign in/sign up and search-->
            </div>
        </div><!-- main nav -->
        <div class="row second">
            <div class="col-xs-12 secondary-nav tbm-nav pmd-z-depth text-center">
                <nav class=" ">
                    <ul>
                        <li><a href=""><i class="material-icons">smartphone</i> Téléphone mobile</a></li>
                        <li><a href=""><i class="material-icons">tablet_android</i> Tablette</a></li>
                        <li><a href=""><i class="material-icons">computer</i> Ordinateur</a></li>
                        <li><a href=""><i class="material-icons">tv</i> TV</a></li>
                        <li><a href=""><i class="material-icons">photo_camera</i> Photo et Caméra</a></li>
                    </ul>
                </nav>
            </div>
        </div><!-- category nav -->

        <div class="category-dropdown">

        </div>


    </div><!-- /.container-fluid -->

</nav><!-- nav -->



<aside class="pmd-sidebar sidebar-custom sidebar-default pmd-sidebar-left-fixed pmd-sidebar-left pmd-z-depth sidebar-hide-custom tbm-sidebar" role="navigation" style="position: absolute;">
    <ul class="nav pmd-sidebar-nav">
        <!-- My Account -->
        <li class="dropdown pmd-dropdown pmd-user-info">
            <a aria-expanded="false" data-toggle="dropdown" data-sidebar="true" class="btn-user dropdown-toggle media" href="javascript:void(0);">
                <div class="media-left">
                    <img width="40" height="40" alt="avatar" src="http://propeller.in/assets/images/avatar-icon-40x40.png">
                </div>
                <div class="media-body media-middle">Hichem Med</div>
                <div class="media-right media-middle"><i class="material-icons pmd-sm">more_vert</i></div>
            </a>
            <ul class="dropdown-menu">
                <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">person</i> <span class="media-body">View Profile</span></a></li>
                <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">settings</i> <span class="media-body">Settings</span></a></li>
                <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">history</i> <span class="media-body">Logout</span></a></li>
            </ul>
        </li>
        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">person</i> <span class="media-body">Profile</span></a></li>
        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">settings</i> <span class="media-body">Parametres</span></a></li>
        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">history</i> <span class="media-body">Logout</span></a></li>
        <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">delete</i> <span class="media-body">Trash</span></a> </li>
        <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">notifications</i> <span class="media-body">Spam</span></a> </li>
        <li> <a class="pmd-ripple-effect" href="javascript:void(0);"><i class="material-icons media-left media-middle">notifications</i> <span class="media-body">Follow Up</span></a> </li>
    </ul>
</aside>



<div class="pmd-sidebar-overlay"></div>