*{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
body{
    overflow-x: hidden;
}
/* navbar*/
.tbm-navbar{
    font-family: 'Lato', sans-serif;
    /*
        background-color:  #3d2645;
        color: #fff;
    */
    border: none;
}
.tbm-navbar .navbar-header a{
    opacity: 0.9;
    color: #ff6666;
}

.tbm-navbar .navbar-header a:hover{
    color: #ff6666;
    opacity: 1;
}
.navbar-header .logo a{
    color: #ff6666;
    font-weight: bold;
}
.tbm-sidebar{
    /*
        background-color: #3d2645;
        color: #fff;
    */
    top: 42px;

}
.category{
    margin-top: 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.tbm-navbar .tbm-sidebar-toggle:hover{
    background-color: rgba(0,0,0,0.1);

}
.secondary-nav{
    margin-bottom: 0px;
    background-color: #fff;
    height: 42px;

}
.secondary-nav li{
    display: inline-block;
    margin-left: -2px;
}
.secondary-nav i{
    padding-right: 1px;
    position: relative;
    top: 5px;
    font-size: 1.5em;
}
.secondary-nav a{
    display: inline-block;
    color: rgba(0,0,0,0.8);
    padding: 0px 10px;
    line-height: 42px;
}
.secondary-nav a:hover{
    background-color: rgba(0,0,0,.1)
}
.tbm-nav{
    padding: 0px;
}
.sign-in-up{
    padding: 15px 20px;
}
.sign-in-up a{
    margin-right: 5px;
}
.pmd-navbar.navbar .btn.pmd-btn-fab.search {
    margin: 0px 5px 0px 10px;
    padding: 0;
    color: black;
    background-color: #fff;

}
.search-box.open{

    display: block;
    right: 70px;
    opacity: 1;
    transition: 0.3s opacity;
    transition-delay: 0.5s opacity;
}
.search-box{
    position: absolute;
    opacity: 0;
    z-index: 99;
    right: -5000px;
    width: 60%;
    padding: 0px 6px;
}
.pmd-textfield.form-group input.form-control {
    display: block;
    height: inherit;
    width: 100%;
}

@media screen and (max-width: 750px){
    .tbm-sidebar{
        /*
            background-color: #3d2645;
            color: #fff;
        */
        top: 0px;

    }
    #connect-with-us{
        width: 100%;
    }
    ul{
        padding: 0px;
    }
    .sign-in-up{
        padding: 15px 0px;
    }


    .search-box{
        width: 85%;
    }
    .category i{
        padding-right: 1px;
        position: relative;
        top: 5px;
        font-size: 1.5em;
    }
    .category a{
        display: inline-block;
        color: rgba(0,0,0,0.8);
        padding: 0px 10px;
        line-height: 42px;
        width: 100%;
    }
    .category a:hover{
        background-color: rgba(0,0,0,.1)
    }
    .secondary-nav{
        display: none;
    }

}
@media screen and (max-width: 500px){

    .search-box{
        width: 80%;
    }


}


/* //navbar */







/* intro start*/
#intro .jumbotron{
    padding-top: 150px;
    margin-bottom: 0px;
    border-bottom:1px solid #d4d9dd;
}
/* intro end */

/* main-section start*/

/* asider start*/
.asider{
    background-color: #f9f9f9;

}

.asider ul{
    list-style-type: none;
}
.asider h4{
    padding: 0px 10px;
}
.asider h4 strong{
    font-size: 14px;
    padding-left: 5px;
}
.asider h4 i{
    position: relative;
    top: 5px;
}
.asider a{
    display: block;
    font-size: 12px;
    padding: 2px 5px ;
    color:#7b8b8e;
}
.asider a:hover{
    background-color: #d4d9dd;
    text-decoration: none;
    color: black;
}
@media (max-width: 1280px){
    .asider{
        display: none;
    }
    .products-container{
        width: 100%;
    }

}

/* asiders end*/


/* intro start*/
#intro .jumbotron{
    padding-top: 100px;
    position: relative;
    text-align: center;

}
.heading{
    margin-bottom: 50px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    padding: 10px;
}
.form-container{
    background-color: #f5f5f5;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* intro end */
.go-to-signinup p{
    font-size: 12px;
    text-align: left;
}
.signup-button{
    margin-bottom: 20px;
}
.facebook{
    background-color: #4267b2;
    margin-bottom: 10px;
}
.google{
    background-color: #d14836;
    margin-bottom: 10px;
}
#footer{
    margin-top: 50px;
    height: 300px;
    background-color: #424242;
    color: #fff;
}



